$fs-0: 14px;
$fs-1: 16px;
$fs-2: 18px;
$fs-3: 20px;
$fs-4: 22px;
// font weight
$fw-normal: normal;
$fw-bold: 600;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;
// margin
$mg-0: 5px;
// padding
$pd-0: 5px;
// color
$color-black-0: #333333;
$color-black-1: #1c1c1c;
$color-black-2: #3a3a3a;
$color-black-3: #353535;
$color-white-0: #fff;
$color-white-1: #f1f1f1;
$color-white-2: #ddd;
$color-white-3: #ccc;
$color-brown-0: #c89979;
$color-brown-1: #a07a61;
$color-brown-2: #A07A61;
$color-blue-0: #0072b7;
$color-blue-1: #3B6994;
$color-blue-2: #2478BA;
$color-blue-3: #2E467E;
$color-blue-4: #3A589D;
$color-blue-5: #1E659C;
$color-red-0: #b20000;
$color-pink-0: #C89979;
$color-orange-0: #FC7600;
$color-orange-1: #CA5E00;
// line height
$lh-0: 1.2;
// break points
$breakpoints: ( "extra-large": 1200px, "large": 992px, "medium": 768px, "small": 576px, );